{% extends 'base.html' %}

{% block content %}
    <div class="form">
        <h2 class="text-3xl font-extrabold text-center text-gray-800 mb-6">Вхід</h2>
        <form method="post" action="{% url 'login_user' %}" class="space-y-5 flex justify-center items-center">
            {% csrf_token %}
            <div class="my-4">
                <input type="text" name="username" id="username" class="form-control form-control-lg rounded-3"
                       placeholder="Username"/>
                <div class="text-red-500 text-sm">{{ form.username.errors }}</div>
            </div>
            <div class="my-4">
                <input type="password" name="password" id="password" class="form-control form-control-lg rounded-3"
                       placeholder="Пароль"/>
                <div class="text-red-500 text-sm">{{ form.password.errors }}</div>
            </div>
            {% if messages %}
                <div class="text-red-500 text-sm">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="d-flex justify-content-around">
                <button type="submit" class="btn btn-primary w-100 mx-3">
                    Увійти
                </button>
                <button class="btn btn-outline-primary w-100 mx-3"
                hx-get="{% url 'create_user' %}" hx-target="body" hx-push-url="true">
                    Зареєструватись
                </button>
            </div>
        </form>
    </div>
{% endblock %}